body {
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(0, 128, 128) 24.5%,
    rgb(0, 128, 128) 66%
  );
}
#weather-forecast {
  font-size: 30px;
}
.btn-success {
  position: relative;
  left: 210px;

  top: -37px;
}
#current-temperature {
  font-size: xx-large;
}

ul {
  top: -30px;
  position: relative;
  right: 60px;
}
#celsius-link {
  text-decoration: none;
}
#fahrenheit-link {
  text-decoration: none;
}
#links {
  position: relative;
  left: 70px;
  top: -70px;
  font-size: xx-large;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

#description {
  text-transform: capitalize;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-date {
  font-size: 14px;
  color: #000;
  font-weight: 400;
}
#tue-icon {
  position: relative;
  right: 10px;
}
.weather-temperature {
  font-size: 13px;
}
.minimum-temperature {
  font-size: 10px;
  opacity: 0.5;
}
.maximum-temperature {
  font-size: 10px;
}
